# Ignore node_modules and build files
node_modules/
dist/
build/
.cache/

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Electron build output
*.asar
*.db

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore any other unnecessary folders or files
.vscode/
.idea/

# Exclude the rsconnect deployment folder and its contents
rsconnect/

# Exclude the Graph_zero_One.dcf file
Graph_zero_One.dcf

# Exclude Sensor Mapping Table CSV file
Sensor_Mapping_Table.csv

# Exclude the assets folder and all its contents
assets/

rsconnect/